extends ../layout

block content
    div.col-md-3
        h1 New dataset
        form#formAddDataset(name="addDataset", method="post", action="/datasets")
            div.form-group
                label(for="inputName") Name:
                input#inputName.form-control(type="text", placeholder="ex: Weather Data", name="name")
            div.form-group
                label(for="inputPublic") Public: 
                    input#inputPublic(type="checkbox", name="public")
            label Variables:
            ul#variablesList.list-unstyled
                li.add-variable
                    button.btn.btn-link.add-variable-btn 
                        span.glyphicon.glyphicon-plus-sign
            button#btnSubmit.btn.btn-success(type="submit").
                Create

block inPageScript
    script.
        // used to add the correct tag to each new variable input
        var varId = 1;

        // Add new variable input if add button clicked
        $(".add-variable-btn").click(function(e) {
            e.preventDefault(); // prevents button from submitting

            var html = "<li class='variable-option'><button class='btn btn-link delete-variable-btn'><span class='glyphicon glyphicon-minus-sign'></span></button> Title: <input class='form-control variable-input', type='text', placeholder='ex: variable%s', name='var%s'> tag: var%s</li>".replace(/%s/g, varId);
            $(html).insertBefore(".add-variable")
            varId++;
        });

        // Delete variable input if delete button clicked
        // we use the 'on' method here because otherwise newly inserted DOM elements wouldn't trigger 'click'
        $(document).on("click", ".delete-variable-btn", function(e) {
            e.preventDefault(); // prevents button from submitting

            $(this).closest("li").remove();
            varId--;
        });
