doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")    
  body
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand(href="/") 
                     img(alt="Brand" src="/images/logo.png" width="35px", height="35px")
            div
                ul.nav.navbar-nav
                    li.active
                        a(href="/index") Home
                    li
                        a(href="/settings") Settings
                    li
                        a(href="/logout") Logout
    div.row
        if errorMessage
            div.alert.alert-danger(role="alert")
                button.close(type="button", data-dismiss="alert", aria-label="Close")
                    span(aria-hidden="true") &times;
                | #{errorMessage}
        if successMessage
            div.alert.alert-success(role="alert")
                button.close(type="button", data-dismiss="alert", aria-label="Close")
                    span(aria-hidden="true") &times;
                | #{successMessage}
        block content

    block importScripts
        script(src="/javascripts/jquery.min.js")
        script(src="/javascripts/bootstrap.min.js")

    block inPageScript
