.row {
    margin: 0% 2% 2% 2%;
}

.landing-body {
    margin-top: 10%;
}

.landing-logo {
    height: 275px;
    width: 275px;
    margin-bottom: 2.5%;
    background-image: url("/images/logo.png");
}

.navbar-brand {
    padding: 9px 15px;
}

.btn-link {
    padding-top:5px;
    padding-bottom: 5px;    
}
